@font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}  
html {
    padding: 0;
    height: 100%;
    background-color: #18224E;
    margin: 0;
    overflow: hidden;
}
h2 {
    color: white;
}
#terms {
    padding: 10px;
}
#container > h2 {
    color: black;
}
#container {
    background-color: rgba(187, 187, 187, 0.747);
}
    body {
        font-family: Arial, sans-serif;
        background: url('safedream/images/background.png') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin: 0;
        padding: 0;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'twayair';
        overflow: hidden;
    }

    #container {
        width: 100%;
        height: 88%;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-height: 400px;
        overflow-y: scroll;
    }

    h2 {
        text-align: center;
    }

    #terms {
    margin-bottom: 20px;
    }

    #agreeCheckbox {
    margin-right: 5px;
    }

    button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }

    button[type="submit"]:hover {
    background-color: #0056b3;
    }